body {
    background-color: #7fddff;
}

header {
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

main {
    display: flex;
    /*justify-content: space-between;*/
}

button {
    min-height: 10px; /*minum recommended height*/
    min-width: fit-content;
    height: 50%;
    font-size: 2em;
}

.noMargin {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: fit-content;
    justify-content: space-around;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-around;
    gap: 1em;
}

.metric {
    display: flex;
    flex-direction: column;
}

time {
    font-size: 3em;
}
